body {
  padding-top: 54px;
}
.carousel-indicators li {
  border-color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #E7E7E7;
}
